* {
    /* box-sizing: border-box; */
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    
}

header {
    
    background-color: #2E948A;
    display: flex;
    justify-content: space-between;
    padding: 10px 82px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    align-items: center;    

}

header ul {
    display: flex;
}

ul {
    list-style: none;
}

li {
    margin: 10px;

}

a {
    text-decoration: none;
    color: #FFFFFF;
}
a :hover{
    cursor: pointer;
}


#title {
    font-weight: 700;
    font-size: 60px;
    color: #FF4081;
}
#intro{
    padding: 50px 82px;
}
#intro_curso{
    padding: 50px 82px;
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

#intro p {
    margin: auto;
}

main{
    margin: 10px;
}

.cursos{
    display: flex;
    padding: 10px 82px;
}

.cursos2 {
    background: #F7F7F7;
    display: grid;
    padding: 50px;
    grid-template-columns: 1.25fr 1fr;
}

button {
    background: #419488;
    border-radius: 62px;
    width: 233px;
    height: 51px;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-style: solid;
}

button :hover {
    border-color: #FF4081;
}

#curso_titulo {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;

    color: #FF4081;
}

.cursos div p {
    margin: 50px 0px;
}


hr {
    background-color: #E5E5E5;
}

footer {
    background-color: #2E948A;
    display: flex;
    justify-content: space-between;
    padding: 10px 82px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    align-items: center;
}

@media only screen and (max-width: 480px){
    header{
        float: left;
    }
    footer{
        float: left;
    }
}