* {
    /* box-sizing: border-box; */
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    
}

header {
    
    background-color: #2E948A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;    
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
      

}

header ul {
    display: flex;
}

ul {
    list-style: none;
}

li {
    margin: 10px;

}

a {
    text-decoration: none;
    color: #FFFFFF;
}
a :hover{
    cursor: pointer;
}


#title {
    font-weight: 700;
    font-size: 60px;
    color: #FF4081;
}
#intro{
    padding: 50px 82px;
}
#intro_curso{
    padding: 50px 82px;
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

#intro p {
    margin: auto;
}

main{
    margin: 10px;
}

.cursos{
    display: flex;
    padding: 10px 82px;
}

.cursos2 {
    background: #F7F7F7;
    display: grid;
    padding: 50px;
    grid-template-columns: 1.25fr 1fr;
}

button {
    background: #419488;
    border-radius: 62px;
    width: 100%;
    height: 51px;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-style: solid;
}

button :hover {
    border-color: #FF4081;
}

#curso_titulo {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    margin: 3% 0%;
    color: #FF4081;
}

.cursos div p {
    margin: 50px 0px;
}


hr {
    background-color: #E5E5E5;
    color: #2E948A;
}

footer {

    background-color: #419488;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1% 5%;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    align-items: center;
}

@media (max-width: 840px) {
 
    
    header img {
        width: 122px;
        height: 38px;
    }
    
    header ul {
       font-size: 12px;
        
    }
    header ul li {
        padding: 5px;
        margin: 0;
   }

   h1 {
    font-size: 44px;
    
    }


    footer img {
        width: 122px;
        height: 38px;
    }
    
    footer ul {
        font-size: 1em;
        padding: 0%;
         
     }
     footer ul li {
         padding: 5%;
         margin: 0;
         font-size: 0.7em;
     }

     .cursos{
        flex-direction: column;
     }
     .cursos img {
        width: 100%;
     }
     #intro_curso {
        padding: 5%;
        display: flex;
        flex-direction: column;  
     }
     #title p {
        font-size: 1em;
        
     }

     #intro_curso img {
        width:100%;
        margin:4%;
     }

     #title {
        font-size: 2.5em;
     }

     .cursos2 {
        padding: 5%;
        display: flex;
        flex-direction: column;
     }

     .cursos2 video {
        width: 100%;
        height: 50%;
     }

}