*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
    width: 100vw;
    
}

header{
    background-color: #2E948A;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
}



header a{
 width: fit-content;
}



#logo-large{
padding: 1% 0%;
display: block;
cursor: pointer;
margin-left: 15%;
}


#menu-header{
    margin-right: 20%;
    align-items: center;
    display: flex;
    flex-direction: row;    
}

#menu-header a{
    font-weight: bold;
    padding: 0% 5%;
    text-decoration:none;
    color: #FFFFFF;
}

#menu-header a:hover{
    text-decoration: none;
    color:#FF4081;
}

 

      .banner{
        height: 80vh;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content:space-around;
        padding: 10% 10% 0% 10%;
    }

.pink-title{
    font-size: 60px;
    font-weight: bold;
    color: #FF4081;
    margin: 2% 0%;
}

.standard-text{
    width: 100%;
    font-weight: lighter;
    font-size: 20px;
}

.white-pink-button{
    text-decoration:none;
    margin: 4% 0%;
    width: fit-content;
    font-size: 20px;
    font-weight: lighter;
    background-color: white;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    border-color: #FF4081;
    color: #FF4081;
    padding: 1% 10%;
    cursor: pointer;
}

.white-pink-button:hover{
    text-decoration:none;
    background-color: #FF4081 !important;
    color: #FFFFFF;
}

.pink-text{
    font-weight: bold;
    font-size: 30px;
    color: #FF4081;
    margin: 3% 0%;

}

.pink-white-button{
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    background-color: #FF4081;
    border-radius: 25px;
    border-width: 1px;
    color: #FFFFFF;
    padding: 2% 15%;
    cursor: pointer;
}

.pink-white-button:hover{
    text-decoration: none;
    background-color: #FFFFFF;
    color: #FF4081;

}

.title-green{
    font-size: 30px;
    font-weight: bold;
    color: #2E948A;
    margin: 2% 0%;
    padding-left:5%
}

.column{
width:45%;
}

.green-text{
    font-weight: bold;
    font-size: 30px;
    color: #2E948A;
    margin: 2% 0%;

}

.blogs{
    background-color: #F6F6F6;
    padding: 10%;

}

.blog{
    width:400px;
}

.blog img{
    width: 100%;
}

footer{
    padding: 1% 0%;
    width: 100%;
    background-color: #2E948A;
    display: flex;
    justify-content: space-around;
}

#menu-footer{
display: flex;
flex-direction: column;
}

#menu-footer a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
    padding: 7% 0%;
}

#menu-footer a:hover{
    text-decoration: none;
    color:#FF4081;
}

.footerbtns{
    width: 15%;
    display:flex;
    flex-direction: center;
}

.footer-button{
    
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    background-color: #2E948A;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    padding: 3% 5%;
    color: #FFFFFF;
    margin: 2% 0%;
   
}

.footer-button:hover{
background-color: #FF4081;
color: #F6F6F6;
}

#centralize{
    width: 100%;
    display: flex;
    justify-content: center;
    
    }

    .green-button{
        font-size: 20px;
        font-weight: lighter;
        background-color: #2E948A;
        border-radius: 25px;
        border-width: 1px;
        color: #FFFFFF;
        padding: 1% 3%;
        cursor: pointer;
        text-decoration: none;
    }
    
    .green-button:hover{
        background-color: #FFFFFF;
        color: #2E948A;
    
    }
    

.banner{
    height: 80vh;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content:space-around;
    padding: 10% 10% 0% 10%;
}

.text-banner{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.text-banner img{
    width: 100%;
}

.banner{
    flex-wrap: wrap-reverse;
    align-items: center;
    padding-top: 0;
}


.text-banner{
    width: 45%;
    margin: 0;
}

.title-green{
    font-size: 50px;
    padding-left: 0;
}

.blog{
    width: 40%;
    margin-bottom: 10%;
}

.flex-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



 

      

.post p{
    width:54%;
    text-align: justify;
}

.post img{
    margin: 5% 0%;
}

#centralize{
    flex-direction: column;
    align-items: center;
}



#centralize{
    width: 100%;
    display: flex;
    justify-content: center;
    
    }

    .green-button{
        font-size: 20px;
        font-weight: lighter;
        background-color: #2E948A;
        border-radius: 25px;
        border-width: 1px;
        color: #FFFFFF;
        padding: 1% 3%;
        cursor: pointer;
        text-decoration: none;
    }
    
    .green-button:hover{
        background-color: #FFFFFF;
        color: #2E948A;
    
    }

    .programs{
        text-align: center;
        height: 90vh;
        background-color: #F6F6F6;
        padding: 2% 6% 2% 6%
    }
    
    .box{
        display: flex;
        justify-content: space-around;
        margin-top: 3%;
            }
    
    .program{
        text-align: center;
        width: 32%;
    }
    @media (max-width: 840px) {
        header img {
            width: 122px;
            height: 38px;
        }
        header {
            padding: 0;
            
        }
        #menu-header {
            font-size: 0.7em;

        }
        .program {
            display: flex;
            flex-direction: column;
            margin:3%
        }

        .pink-text {
            font-size: 1.3em;
        }
        footer img {
            width: 122px;
            height: 38px;
        }
        .standard-text {
            font-size: 0.7em;
        }
        .pink-white-button{
            font-size: 1em;
        }
        footer {
            font-size: 1em;
            align-items: center;
        }
        .footer-button {
            font-size: 1em;
        }
        .banner-img img {
            width: 50%;
                  }
      
    }